.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;             
  justify-content: flex-start; 
  padding: 15px;         
}
